/* Catppuccin Latte Colors */
@define-color base   #eff1f5;
@define-color mantle #e6e9ef;
@define-color crust  #dce0e8;
@define-color text   #4c4f69;
@define-color surface0 #ccd0da;
@define-color surface1 #bcc0cc;
@define-color surface2 #acb0be;
@define-color blue   #1e66f5;
@define-color lavender #7287fd;
@define-color sapphire #209fb5;
@define-color sky    #04a5e5;
@define-color teal   #179299;
@define-color green  #40a02b;
@define-color yellow #df8e1d;
@define-color peach  #fe640b;
@define-color maroon #e64553;
@define-color red    #d20f39;
@define-color mauve  #8839ef;
@define-color pink   #ea76cb;
@define-color flamingo #dd7878;
@define-color rosewater #dc8a78;
